.form-cruise
    position: relative
    padding: 10px 20px
    margin: 0 0 27px 0
    height: 100px
    box-shadow: 0px 4px 19px 1px rgba(0, 0, 0, 0.1)
    border-radius: 20px
    .flex-cruise-form
        align-items: flex-start
.form
    &__item
        width: 33%
        padding: 10px
    .choose
        position: relative
        padding: 0 13% 0 0
        margin: 0 0 8px 0
        cursor: pointer
        transition: .3s all
        &:hover, &:active
            color: #656565
        &__text
            font-size: 18px
            &::after
                content: ''
                display: block
                position: absolute
                top: 42%
                right: 10%
                width: 6px
                height: 11px
                transform: rotate(90deg)
                transition: .3s all
                background: url("../img/cruise/arrow.svg") center center/cover no-repeat
    .form__choose-country
        padding: 10px 13%
    .open
        &::after
            content: ''
            transform: rotate(-90deg)
    &__title
        margin: 0 0 8px 0
        color: $secondary-item-text-color
        text-transform: uppercase
    .title-country
        text-transform: none
        color: #fff
    .choice
        position: absolute
        display: none
        flex-direction: column
        height: auto
        border-radius: 10px
        background: #131249
        color: #fff
        transition: .3s all
        overflow: auto
        z-index: 99
    .choice-country
        position: relative
        width: 75%
        background: #131249
    .option
        padding: 10px
        border-radius: 10px
        width: 100%
        transition: .3s all
        &__input
            display: none
        &__label
            display: block
            text-align: center
            width: 100%
            padding: 10px
            cursor: pointer
        &:hover, &:active
            background: #000
    .date
        display: none
        position: absolute
        left: 0
        padding: 20px
        gap: 60px
        width: 100%
        &__content
            display: flex
        &__column
            flex: 33.333%
        &__months
            display: flex
            flex-wrap: wrap
        &__option
            text-align: center
            flex: 33.333%
        &__title
            margin: 0 0 10px 0
            text-align: center
    .show-option
            display: flex